.navbar-collapse {
  justify-content: space-between;
}

.navbar-toggler {
  border: none;
}

@media (min-width: 992px) {
  .navbar-brand {
    margin-right: 6vw;
  }
}

@media (min-width: 1050px) {
  .navbar-brand {
    margin-right: 10vw;
  }
}

@media (min-width: 1200px) {
  .navbar-brand {
    margin-right: 15vw;
  }
}
